:root {
    --animacao-inicio: #00bcd4;
    --background-inicio: #e0e6e8;
}

/* Importação da fonte Barlow */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');

body {
    font-family: 'Barlow', sans-serif;
    width: 100%;
    min-height: 100vh; /* Garante que a altura seja no mínimo 100% da tela */
    margin: 0; /* Remove margens padrão */
    display: flex;
    justify-content: center;  /* Centraliza o conteúdo horizontalmente */
    align-items: center;      /* Centraliza o conteúdo verticalmente */
    background-color: var(--background-inicio);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   /* Centraliza o conteúdo em coluna */
    text-align: center;       /* Centraliza o texto dentro do container */
    width: 100%;              /* Faz o container ocupar 100% da largura */
    height: 100%;             /* Faz o container ocupar 100% da altura */
}

.section_1 {
    padding-top: 7%;
}

/* Ajustes para o footer */
footer {
    width: 100%; /* Ajusta o width ao conteúdo do footer */
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;  /* Ajusta o padding para garantir um bom espaço interno */
    margin-top: auto;  /* Faz com que o footer vá para o final da página */
    position: relative;
    bottom: 0; /* Garante que o footer vá para o fundo da tela */
}

footer .btn {
    color: white;
    font-size: 18px; /* Ajuste o tamanho dos ícones */
    margin: 0 10px; /* Dá um pequeno espaço entre os ícones */
}

footer .p-3 {
    font-size: 12px; /* Diminui o tamanho do texto */
    margin-top: 10px; /* Espaço entre o texto e os ícones */
}

/* Ajustes para telas menores que 800px */
@media (max-width: 800px) {
    .section_1 {
        padding-top: 20%;
    }

    footer {
        padding: 5px 0;  /* Diminui o padding em telas menores */
    }

    footer .btn {
        font-size: 16px;  /* Ajusta o tamanho dos ícones */
    }

    footer .p-3 {
        font-size: 10px;  /* Diminui ainda mais o tamanho do texto */
    }

}
