:root {
    --animacao-inicio: #00bcd4;
    --background-inicio: #e0e6e8;
}

/* Importação da fonte Barlow */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');

body {
    font-family: 'Barlow', sans-serif;
    width: 100%;
    min-height: 100vh; /* Garante que a altura seja no mínimo 100% da tela */
    margin: 0; /* Remove margens padrão */
    display: flex;
    justify-content: center;  /* Centraliza o conteúdo horizontalmente */
    align-items: center;      /* Centraliza o conteúdo verticalmente */
    background-color: var(--background-inicio);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   /* Centraliza o conteúdo em coluna */
    text-align: center;       /* Centraliza o texto dentro do container */
    width: 100%;              /* Faz o container ocupar 100% da largura */
    height: 100%;             /* Faz o container ocupar 100% da altura */
}

.section_um {
    padding-top: 7%;
}

/* Ajustes para telas menores que 800px */
@media (max-width: 1000px) {
    .section_um {
        padding-top: 25%;
    }
}