/* Reset de margin e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --animacao-inicio: #00bcd4;
    --background-inicio:  #e0e6e8;
}

/* Importação da fonte Barlow */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');

body {
    font-family: 'Barlow', sans-serif;
    width: 100%;
    min-height: 100vh; /* Altera de 4000vh para garantir que a página tenha altura mínima da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-inicio);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(var(--animacao-inicio) 0%, transparent 0%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse 1.5s ease-in-out infinite;
}

.circle:before {
    content: '';
    position: absolute;
    width: 180px;
    height: 180px;
    background: #121212;
    border-radius: 50%;
    z-index: 1;
}

#percentage {
    color: var(--animacao-inicio);
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    z-index: 2;
}

/* Animação do preenchimento do círculo */
@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 20px rgba(0, 255, 255, 0.6), 0 0 60px rgba(0, 255, 255, 0.4);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 30px rgba(0, 255, 255, 0.8), 0 0 100px rgba(0, 255, 255, 0.6);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 20px rgba(0, 255, 255, 0.6), 0 0 60px rgba(0, 255, 255, 0.4);
    }
}

@keyframes rotate-circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.area_principal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00bcd4;
}