/* Reset de margin e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(#00bcd4 0%, transparent 0%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse 1.5s ease-in-out infinite;
}

.circle:before {
    content: '';
    position: absolute;
    width: 180px; /* Ajuste para criar a borda interna */
    height: 180px;
    background: #121212;
    border-radius: 50%;
    z-index: 1;
}

#percentage {
    color: #00bcd4;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    z-index: 2;
}

/* Animação do preenchimento do círculo */
@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 20px rgba(0, 255, 255, 0.6), 0 0 60px rgba(0, 255, 255, 0.4);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 30px rgba(0, 255, 255, 0.8), 0 0 100px rgba(0, 255, 255, 0.6);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 20px rgba(0, 255, 255, 0.6), 0 0 60px rgba(0, 255, 255, 0.4);
    }
}

@keyframes rotate-circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
